*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.pixer{
    position: sticky;
    top: 0px;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px gray;
}
.nav{
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-item{
    padding: 20px;
    font-size: 15px;
}

.nav-link2{
    background-color: rgb(17, 122, 192);
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px ;
    transition: .3s
}
.nav-link2:hover{
background-color: blue;
}




.biznes-section{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.biznes-text{
    width: 40%;
}

.biznes-title{
    font-size: 30px;
}

.biznes-subtext{
    font-size: 15px;
}

.biznes-video{
    width: 47%;
    border-radius: 10px;
}

.biznes-link{
    background-color: rgb(17, 122, 192);
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px ;
    transition: .3s
}

.biznes-link:hover{
    background-color: blue;
    }





    .prodact-section-text{
        width: 100%;
        text-align: center;
        padding-top: 150px;
        
    }

    .prodact-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .prodact-section-images{
        padding-top: 30px;
        
    }
.prodact-item:hover{
    transform: scale(1.1);
}
    .prodact-item{
        width: 25%;
        margin: 30px;
        transition: .3s;
        padding: 0px;
        box-shadow: 0 0 10px rgba(12, 11, 11, .5);
        text-align: center;
        padding-top: 20px;
        border-radius: 10px;
        
    }

    .prodact-section-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        
    }

    .prodact-link{
        background-color: rgb(17, 122, 192);
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px ;
    transition: .3s;
    margin: 20px;
    }

    .prodact-title{
        font-size: 20px;
        width: 100%;
    }

    .prodact-subtext{
        padding-top: 20px;
    }

    .prodact-link:hover{
        background-color: blue;
    }

    .prodact-link2{
        text-decoration: underline  ;
    }






    .loyiha-text{
        text-align: center;
        margin-top: 100px;
    }

    .loyiha-text-title{
        font-size: 20px;
    }

    .loyiha-text-subtext{
        margin-top: 20px;
    }

    .loyiha-logo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .logo-content-subtext{
        margin-top: 10px;
    }

    .loyiha-logo2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        margin-top: 30px;
    }

    .buyurtma-link{
        display: flex;
    }

    .buyurtma-logo-link{
       
        background-color: rgb(17, 122, 192);
        padding: 10px 20px;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px ;
        transition: .3s;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
   
    }

    .buyurtma-logo-link:hover{
        background-color: blue;
    }







    .xizmat{
        margin-top: 150px;
        background-color: #00BAFC;
        padding: 30px 0;
        
    }

    .xizmat-text{
        text-align: center;
        padding-top: 30px;
    }

    .xizmat-title{
        font-size: 25px;
        font-weight: bold;
        color: white;
    }

    .xizmat-subtext{
        padding-top: 15px;
        color: white;
    }


    form{
        width: 30%;
        padding: 30px;
        background-color: white;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 40px;
    }

    input{
        width: 100%;
        color: black;
        padding: 20px;
        margin-bottom: 18px;
        background: #f3f3f3;
        border: none;
        border-radius: 5px;
    }

    select{
        margin-bottom: 15px;
        padding: 18px;
        border: none;
        background: #f3f3f3;
        border-radius: 5px;
    }


    footer{
        background-color: #191919;
    
    }

    .footer-link{
        color: #ffffff;
    }

    .footer-section{
        display: flex;
        padding-top: 70px;
        color: #ffffff;
        
    }

    .footer-content{
        width: 30%;
        margin-right: 100px;
    }

    .footer-content2{
        width: 20%;
        
    }

    .footer-list2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
 @media (max-width:1180px){
     .container{
         width: 1040px;
     }
     .pixer{
         min-width: 100%;
         height: 50px;

     }
     .nav-img{
         padding-top: 10px  ;
     }
     .nav-link{
         display: none;
     }
     .nav-link2{
         display: none;
     }
     .container>.biznes-section{
         flex-direction: column;
     }
     .a{
         width: 100%;
         margin-top: 20px;
     }
     .nav-item{
         display: none;
     }
 }
 @media (max-width:800px){
    .container{
        width: 750px;
    }
    .pixer{
        min-width: 100%;
        height: 50px;

    }
    .nav-img{
        padding-top: 10px  ;
    }
    .nav-link{
        display: none;
    }
    .nav-link2{
        display: none;
    }
    .container>.biznes-section{
        flex-direction: column;
    }
    .a{
        width: 100%;
        margin-top: 20px;
    }
    .nav-item{
        display: none;
    }
    .prodact-img{
        width: 100%;
    }
}
   
 @media (max-width:700px){
    .container{
        width: 650px;
    }
    .pixer{
        min-width: 100%;
        height: 50px;

    }
    .nav-img{
        padding-top: 10px  ;
    }
    .nav-link{
        display: none;
    }
    .nav-link2{
        display: none;
    }
    .container>.biznes-section{
        flex-direction: column;
    }
    .a{
        width: 100%;
        margin-top: 20px;
    }
    .nav-item{
        display: none;
    }
    .prodact-img{
        width: 100%;
    }
}
@media (max-width:550px){
    .container{
        width: 500px;
    }
    .pixer{
        min-width: 100%;
        height: 50px;

    }
    .prodact-item{
        width: 50%;
    }
    .nav-img{
        padding-top: 10px  ;
    }
    .nav-link{
        display: none;
    }
    .nav-link2{
        display: none;
    }
    .container>.biznes-section{
        flex-direction: column;
    }
    .a{
        width: 100%;
        margin-top: 20px;
    }
    .nav-item{
        display: none;
    }
    .prodact-img{
        width: 100%;
    }
    .biznes-link{
        padding: 5px 5px 5px 5px;
    }
}
  
   
    

